.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &.menu-open{
        
       .header-content{
           .nav{
                position: relative;
                ul{
                    transform: scale(1) translate(0, 0%);
                    z-index: 3;
                }   
            }
           
            .menu-btn{
                span:nth-child(1){
                    transform: rotate(45deg);
                    top: 14px;    
                }
                span:nth-child(3){
                    transform: rotate(-45deg);
                    top: -13px;    
                }
                span:nth-child(2){
                    opacity: 0;
                    
                }
            }
       }
        

    }
    .top-bar{
        width: 100%;
        font-size: 13px;
        background-color: var(--color-1);
        border-bottom: 1px solid var(--color-1);
       
        @include media(md){
            display: none;
        }
        .top-bar-content{
            @extend .header; 
            height: 40px;
            flex-direction: row;
            ul{
                padding-left: 0px;
                list-style: none;
                display: flex;
                margin-bottom: 0;
                &.contact-info{
                    li{
                        a{
                            color: var(--color-3);
                            text-decoration: none;
                            margin-right: 25px;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                }
                &.social-icons{
                    li{
                        a{
                            color: var(--color-3);
                            text-decoration: none;
                            margin-left: 15px;
                            font-size: 15px;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
       height: 110px;
       
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                
                li{
                    display: inline-block;
                    position: relative;
                    &:hover{
                        .drop-down-menu{
                            opacity: 1;
                            z-index: 0;
                        }
                    }
                   a{
                        font-size: 15px;
                        font-family: var(--font-2);
                        font-weight: 700;
                        color: var(--color-3);
                        text-decoration: none;
                        line-height:auto;
                        padding: 46px 15px;
                        text-transform: uppercase;
                        &:hover{
                            color:var(--color-2);
                            background-color: var(--color-8);
                        }
                        
                    }

                    .drop-down-menu{
                        position: absolute;
                        top: 68px;
                        width: 200px;
                        background-color: var(--color-2);
                        list-style: none;
                        z-index: -5;
                        opacity: 0;
                        li{
                            a{
                                padding: 15px 25px;
                                font-size: 15px;
                                line-height: 40px;
                            }
                        }

                    }
                }
                @include media(md){
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transform: scale(.8) translate(0, -120%);
                    display: flex;
                    background-color: var(--color-2);
                    @include tranision();

                    li{
                       
                        a{
                            font-size: 20px;
                            line-height: 50px;
                        }
                    }
                }
               
            }

        }
        .menu-btn{
            display: none;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 40px;
            height: 40px;
            border: 0;
            position:relative;
            z-index: 4;
            background-color: var(--color-2);

            @include media(md){
                display: flex;
                margin-left: auto;

            }
            span{
                width: 100%;
                height: 3px;
                background-color: var(--color-7);
                margin: 4px 0;
                @include  tranision();
                position: relative;
                top: 0;
            }
        }
        i.bi.bi-search {
            color: var(--color-3);
            font-size: 12px;
            
        }
    }


    
   
    


  
}