.our-work{
    p {
        font-size: 22px;
        line-height: 34px;
        font-family: var(--font-2);
        font-weight: 400;
        color: var(--color-5);
        margin-bottom: 45px;
    }
    .btn{
        padding: 18px 25px;
    }
}